@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login{
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.single-music{
    background-image: url("./assets/images/single.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 79px;
}

.active{
    opacity: 1;
}

.navigate-btn{
    background-color: rgba(0, 0, 0, 50%);
}

.bg-item{
    background-color: rgba(255, 255, 255, 20%);
}

.music-card-item{
    background-color: rgba(255, 255, 255, 4%);
}

.PlayerRSWP{
    background-color: #181818 !important;
}

._ControlsButtonsRSWP, ._VolumeInlineRSWP, .rswp_progress, .rswp_duration{
    color: white !important;
}

._ActionsRSWP > div > div > button {
    color: white !important;
}