@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login{
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.active{
    opacity: 1;
}

.navigate-btn{
    background-color: rgba(0, 0, 0, 50%);
}

.bg-item{
    background-color: rgba(255, 255, 255, 20%);
}

.music-card-item{
    background-color: rgba(255, 255, 255, 4%);
}